.cart {
    text-align: right;
}
.cart .btn {
    font-size: 1rem;
    font-weight: 700;
} 
.cart .btn .title {
    cursor: pointer;
    padding: 0.22rem;
}
.cart .btn .quantity {
    display: inline-block;
    background: #d9363e;
    font-size: 0.7rem;
    font-weight: 400;
    color: white;
    padding-top: 0.25rem;
    width:25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 1rem;
    text-align: center;
}
.cart .btn .total {
    color: #a5a5a5;
    display: block;
    font-size: 0.8rem;
    margin-right: 2rem;
    margin-top: -0.2rem;
}
.item_cart {
    border-bottom: 1px dashed #ddd;
    display: flex;
    Justify-content: space-between;
    margin: 1rem 0;
}
.item_cart .item_cart_desc h3 {
    font-size: 1.3rem;
    color: #505050;
}
.item_cart .item_cart_desc p {
    color: #707070;
    font-style: italic;
}
.item_cart .item_cart_desc code {
    background: #f5f5f5;
    border-radius: 5px;
    padding: 2px 10px;
    display: block;
    font-size: 0.75rem;
    color: #cfcfcf;
    width: 260px;
    text-align: center;
    margin-bottom: 0.5rem;
}
.item_cart .item_cart_desc .item_quantity {
    display: inline-block;
    color: #505050;
    font-size: 1.5rem;
}
.item_cart .item_cart_desc .item_quantity .add,
.item_cart .item_cart_desc .item_quantity .subtract {
    cursor: pointer;
    color: #c02a2c;
    display: inline-block;
}
.item_cart .item_cart_desc .item_remove {
    margin-left: 2rem;
    display: inline-block;
    color:#a5a5a5;
    cursor: pointer;
    transition: ease 1s;
    height: 30px;
}
.item_cart .item_cart_desc .item_remove:hover {
    color: #ce7b00;
}
.item_cart .item_cart_desc .item_quantity span {
    width: 40px;
}
.item_cart .item_cart_price span {
    color: #c02a2c;
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}
.item_cart .item_cart_price .info_rest {
    display: block;
    font-size: 0.8rem;
}
.item_cart .item_cart_price .info_rest h5 {
    background-color: #0b5806;
    border-radius: 5px 5px 0  0;
    display: block;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
}
.item_cart .item_cart_price .info_rest p {
    display: block;
    color: #767676;;
    background: #dfdfdf;
    font-size: 0.7rem;
    border-radius: 0 0 5px 5px;
}
.estimated_total {
    color: #c02a2c;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    margin: 1rem 0;
}
.estimated_total .text {  
    color: #505050;
}
.estimated_total .value {
    text-align: right;
    font-weight: 700;
}