.dishes_price {
    text-align: center;
    display: block;
    margin: 1.2rem;
}
.dishes_action {
    display: block;
    padding: 0.1rem 0.5rem;
    background: #818181;
    border-radius: 4px;
    font-size: 0.8rem;
    max-width: 120px;
    text-align: center;
    margin: auto;
    color: white;
    transition: ease 1s;
    cursor: pointer;
}
.dishes_action:hover {
    background: #d9363e;
    color: white;
}
.dishes_cart_quantity {
    background: #f4f4f4;
    border-radius: 50%;
    color: #c0282e;
    display: block;
    font-size: 0.75rem;
    height: 42px;
    margin: 0.3rem auto;
    padding-top: 0.75rem;
    text-align: center;
    width: 42px;
}
.dishes_cart_quantity_empty {
    background: #fefefe;
    border-radius: 50%;
    color: #eaeaea;
    display: block;
    font-size: 0.75rem;
    height: 40px;
    margin: 0.3rem auto;
    padding-top: 0.65rem;
    text-align: center;
    width: 40px;
}