#header_title {
    text-align: center;
    border-bottom: 1px solid #ebebeb;
}
#header_title h1 {
    color: #a31f34;
    padding-top: 1rem;
    font-weight: 600;
}
#header_title h1 span {
    color: #606060;
}